header {
    background-color: var(--color-bg-primary);
    display: flex;
    padding: 0px 16px 0 16px;
    justify-content: center;
    gap: 40px;
    border-bottom: 0.1px solid var(--color-border-header);;
}

.div-logo img {
    width: auto;
    height: 70px;
}

header nav {
    display: flex;
    
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    
}

 header a {
    color: var(--color-text-primary);
    text-decoration: none;
    font-size: var(--text-base);
    padding: 10px;
    
}

header ul {
    gap: 75px;
    
}

.dourado a {
    color: var(--color-border-card);
}

ul a:hover {
    font-size: 26px;
    transition: 0.6s;
}

.menu-burger {
    display: none;
}





@media screen and (max-width: 768px) {
    
    header li {
        display: none;
    }

    .div-logo img {
        height: 90px;
        padding: 0px 18rem 0px 5rem;
    }

    .menu-burger img {
    width: auto;
    height: 22px;
}

.menu-burger {
    display: flex;
    align-items: center;
    
}

.menu-burger a:hover img{
    width: auto;
    height: 26px;
}

header nav.ativo ul{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 120px;
  left: 77%;
  z-index: 100;
  gap: 40px;
  
}



nav.ativo li {
    display: block !important; 
    width: 100%;
    
}

.menu-burger.active img {
    padding: 200px;
}
    
}

@media screen and (min-width: 1440px) {
    header a {
        font-size: var(--text-xxl);
    }

    .div-logo img {
    height: 90px;
}

header {
    gap: 80px;
}

    
}

@media screen and (min-width: 1920px) {
    header a {
        font-size: var(--text-xxxl);
    }

    .div-logo img {
    height: 120px;
}
}