.video-container{
    display: flex;
    width: auto;
    height: 190px;
}

.sobre {
    margin: 30px;
    text-align: center;
}

.sobre p {
    margin-top: 20px;
}


.menu-grid {
    display: grid;
    justify-self: center;
}

.menu-card h2 {
    margin: 20px;
    text-align: center;
}

.menu-card img {
    width: 240px;
    height: 300px;
    margin: 20px;
    border: 1px solid var(--color-border-card);
    box-shadow: var(--shadow-glow-xl);
}